@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;1,200;1,300;1,400;1,600&display=swap");

:root {
  --btn-color: #f1c40f;
  --icon-color: darkorange;
  --card-topic-bg: #ddd;
  --copyright-color: #444;
  --default-color: #000;
}


* {
  scroll-behavior: smooth;

}

body {
  font-family: "Titillium Web", sans-serif;
  background-color: #eee;
  box-sizing: border-box;
}

li{
  list-style: none;
}

.nav-link,
.link{
  text-decoration: none;
  color: #000;
  cursor: pointer;
}

/* header and mav bar */

header {
  width: 100vw;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #eee;
}

#header-img {
  width: 55vh;
  padding: 20px;
}

nav ul {
  display: flex;
  justify-content: space-around;
  width: 35vw;
  padding: 0 20px;
}

nav a {
  text-decoration: none;
  color: #000;
}

/* first display text or hero */

h1{
  font-size: 1.75rem;
}

#hero {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center !important;
  justify-content: center !important;
  text-align: center;
  height: 200px;
}

#email {
  height: 23px;
  padding: 6px;
  border-radius: 5px;
  border: solid 0.1px grey;
}

#submit {
  background-color: var(--btn-color);
  border: none;
  border-radius: 5px;
  font-weight: bold;
  font-size: 15px;
  color: #000;
  display: block;
  margin: 15px auto;
  max-width: 150px;
  cursor: pointer;
}

#submit:hover,
.card-btn:hover {
  transition: ease-in 0.25s;
  background-color: var(--icon-color);
}

/* features */

#features {
  width: 80vw;
  margin: 0 auto;
}

h3 {
  font-size: 1.45rem;
  font-weight: 700;
}

.icon {
  display: flex;
  color: var(--icon-color);
  align-items: center;
  justify-content: center;
  height: 125px;
  width: 20vw;
  margin-top: 1vw;
}

p {
  padding: -1vw !important;
  margin-top: auto ;
}

.description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 125px;
  width: 80vw;
  padding: 5px;
}

.grid {
  display: flex;
}

/* functionality or how it all works */

#how_it_works {
  max-width: 560px;
  display: flex;
  justify-content: center;
  margin: 50px auto;
}

/* pricing and all the cards */

#pricing {
  margin-top: 60px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  max-width: 85vw;
  justify-content: space-evenly;
  margin: 60px auto 0;
}

.card {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  border-radius: 10px;
  justify-content: space-around;
  width: 325px;
}

.card-about {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-about > .card-text {
  padding: 8px;
}

.card-button {
  margin: 0 auto 14px;
}

.card-btn {
  background-color: var(--btn-color);
  border: transparent;
  border-radius: 2px;
  font-size: 20px;
  padding: 10px 25px;
  cursor: pointer;
}

h4 {
  border: transparent;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: var(--card-topic-bg);
  padding: 10px;
  margin: 0;
  color: #000;
}

.card-heading {
  text-align: center;
  font-size: 22px;
}

.price {
  font-weight: bold;
  font-size: 1.5rem;
  padding-top: 30px;
  padding-bottom: 15px;
}

/* footer */

footer {
  border: transparent;
  border-radius: 10px ;
  margin-top: 30px;
  background-color: var(--card-topic-bg);
  display: block;
  padding: 20px;
}

footer > ul{
  margin-top: 0px;
  display: flex;
  justify-content: flex-end;
}

footer > ul > li{
  padding: 0 10px;
}

span{
  display: flex;
}

#copyright{
  justify-content: flex-end;
  margin-top: -10px;
  font-size: 1em;
  color: var(--copyright-color);
}

#note{
  justify-content: center;
  padding: 30px;
}


/* media queries */

@media (max-width: 600px) {
  header {
    flex-wrap: wrap;
  }
}

.logo {
  width: 60vw;
}

@media (max-width: 650px) {
  .logo {
    margin-top: 15px;
    width: 100%;
    position: relative;
  }
}

.logo > img {
  width: 100%;
  height: 100%;
  max-width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-left: 20px;
}

@media (max-width: 650px) {
  .logo > img {
    margin: 0 auto;
  }
}

nav {
  font-weight: 400;
}

@media (max-width: 650px) {
  nav {
    margin-top: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0 50px;
  }
  nav li {
    padding-bottom: 5px;
  }
}

nav > ul {
  width: 35vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

@media (max-width: 650px) {
  nav > ul {
    flex-direction: column;
  }
}

#hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 200px;
  margin-top: 50px;
}

#hero > h1 {
  margin-top: auto;
  margin-bottom: 20px;
  word-wrap: break-word;
}

#hero input[type='email'] {
  max-width: 275px;
  width: 100%;
  padding: 5px;
}

#hero input[type='submit'] {
  max-width: 150px;
  width: 100%;
  height: 30px;
  margin: 15px auto;
  border: 0;
  background-color: #f1c40f;
}

#hero input[type='submit']:hover {
  background-color: orange;
  transition: background-color 1s;
}

@media (max-width: 650px) {
  #hero {
    margin-top: 210px;
  }
}

#features {
  margin-top: 30px;
}

#features .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 125px;
  width: 20vw;
  color: darkorange;
}

@media (max-width: 550px) {
  #features .icon {
    display: none;
  }
}

#features .description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 125px;
  width: 80vw;
  padding: 5px;
}

@media (max-width: 550px) {
  #features .description {
    width: 100%;
    text-align: center;
    padding: 0;
    height: 150px;
  }
}

@media (max-width: 650px) {
  #features {
    margin-top: 0;
  }
}

#how-it-works {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

#how-it-works > iframe {
  max-width: 560px;
  width: 100%;
}

#pricing {
  margin-top: 60px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: calc(100% / 3);
  margin: 10px;
  border: 1px solid #000;
  border-radius: 3px;
}

.card > .card-heading {
  background-color: #ddd;
  color: black;
/*   padding: 15px 0; */
  width: 100%;
  text-transform: uppercase;
  font-weight: 600;
}

.card > .price {
  margin-top: 15px;
}

.card > ul {
  margin: 15px 0;
}

.card > ul > li {
  padding: 5px 0;
}

.card > button {
  border: 0;
  margin: 15px 0;
  background-color: #f1c40f;
  font-weight: 400;
}

.card > button:hover {
  background-color: orange;
  transition: background-color 1s;
}

@media (max-width: 800px) {
  #pricing {
    flex-direction: column;
  }
  .card {
    max-width: 300px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 10px;
  }
}

footer {
  margin-top: 30px;
  background-color: #ddd;
  padding: 20px;
}

footer > ul {
  display: flex;
  justify-content: flex-end;
}

footer > ul > li {
  padding: 0 10px;
}

footer > span {
  margin-top: 5px;
  display: flex;
  justify-content: flex-end;
  font-size: 0.9em;
  color: #444;
}
